body {
  font-size: 16px;
}
.App {
  text-align: center;
}

.ItemList {
  background-color: #B8DFD8;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: #4C4C6D;
  border: solid 6px #E8F6EF;
  border-radius: 20px;
  padding: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover; 
}

button[type=submit]:hover,
.form label.upload:hover {
  background-color: #dfb8b8;
}

button[type=submit] {
	appearance: none;
	font-size: 14px;
	padding: 5px;
	background: var(--alias-color-background-primary-default);
	border: 1px solid var(--alias-color-border-primary-default);
	border-radius: 4px;
	box-sizing: border-box;
	font-weight: 400;
	line-height: 1.4em;
	margin-bottom: 1em;
	outline: none;
	width: 100%;
	font-weight: bold;
	color: var(--alias-color-text-inverse-default);
	background-color: var(--alias-color-background-attention-default);
	fill: var(--alias-color-text-inverse-default);
}

button[type=submit]:disabled {
	font-weight: normalk;
	color: var(--alias-color-text-secondary-default) !important;
    background-color: var(--alias-color-background-disabled-default) !important;
    fill: var(--alias-color-icon-secondary-active) !important;
    cursor: not-allowed !important;
}

.item_label {
  font-weight:bold; 
}

.auction-table {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}