*,
:after,
:before {
	/* -webkit-tap-highlight-color: transparent; */
	box-sizing: border-box;
}

.form {
	display: block;
}

.form input,
.form select,
.form button,
.form label.upload {
	font-size: 16px;
}

.image {
	width: 200px;
	height: 200px;
	object-fit: cover;
}

input,
select,
button,
label {
	background: var(--alias-color-background-primary-default);
	border: 1px solid var(--alias-color-border-primary-default);
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4em;
	margin-bottom: 1em;
	outline: none;
	width: 100%;
}

input[type=text],
[type=checkbox] {
	appearance: none;
	color: var(--alias-color-text-primary-default);
	flex: 1 1;
	outline: none;
	padding: 16px;
}

select {
	appearance: none;
	height: 55px;
	padding: 0 44px 0 16px;
}

input:invalid, select:invalid {
	color: var(--alias-color-text-placeholder-default);
	border-color: var(--alias-color-border-attention-default);
}

.upload {
	float: left;
	padding: 12px 20px;
	text-align: center;
	/* border: none; */
	border-radius: 4px;
	font-weight: bold;
	width: 100%;
	cursor: pointer;
	color: var(--alias-color-text-attention-default);
	background-color: transparent;
	border-color: var(--alias-color-border-attention-default);
	fill: var(--alias-color-icon-attention-default);
}

input[type=file] {
	display: none;
}

button[type=submit] {
	padding: 12px 20px;
	font-weight: bold;
	color: var(--alias-color-text-inverse-default);
	background-color: var(--alias-color-background-attention-default);
	fill: var(--alias-color-text-inverse-default);
}

button[type=submit]:hover {
	background-color: var(--alias-color-background-attention-highlight);
}

.form label.upload:hover {
	background-color: var(--alias-color-background-attentionThin-highlight);
}


.item_label {
	font-weight: bold;
}

.auction-table {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}